@use "theme" as theme;

:host
{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

svg
{
	$size: 30px;
	width: $size;
	height: $size;

	path
	{
		fill: theme.$colour-white-static;
	}

	&.fill-white
	{
		path
		{
			fill: theme.$colour-white-static;
		}
	}
	&.fill-black
	{
		path
		{
			fill: theme.$colour-black-static;
		}
	}
	&.fill-primary
	{
		path
		{
			fill: theme.$colour-primary-static;
		}
	}
	&.fill-primary-light
	{
		path
		{
			fill: theme.$colour-primary-light-static;
		}
	}

	@media only screen and (min-width: theme.$break-point-tablet)
	{
		$size: 20px;
		width: $size;
		height: $size;
	}
}