<list-view
  (onCreateRequest) = "navigateToNew()"
>
  <span header-title-contents>Items</span>
  <span header-button-contents>+ New Item</span>
  <suspense [loading] = "itemsStore.state() == 'loading'" class = "items-list">
		@for (item of itemsStore.data(); track item.id)
		{
			<list-view-item
			  [id] = "item.id"
				[label] = "item.name"
				(onClick) = "navigateToDetails ($event)"
				[boldTitle] = "true"
			>
			  <stock-info [stock] = "stock()?.[item.id]?.[0]"/>
			</list-view-item>
		}
		@empty
		{
			<p>Looks like you don't have any item defined. Items are what you'll track in your stock.</p>
			<styled-button
				role = "primary"
				(onClick) = "navigateToNew()"
			>
				Start by adding a new item
			</styled-button>
		}
	</suspense>
</list-view>