<list-view-item-details
  [editing] = "editing()"
  [creating] = "creating()"
  [submitButtonDisabled] = "!form.valid || !form.dirty"
  (onEditingEnabled) = "onEditingEnabled()"
  (onDeleteItem) = "onItemDelete()"
  (onCancel) = "onCancel()"
  (onClose) = "navBack()"
>
  <span list-item-details-header-title-suffix>item</span>
  <form body id = "edit-item-form" [formGroup] = "form" (ngSubmit) = "onFormSubmit()">
    <suspense [loading] = "itemsDetailsStore.state() == 'loading'">
     	<text-input formControlName = "name" label = "Name"/>
     	<text-input multiline = "true" formControlName = "description" label = "Description"/>
      <div class = "quantity">
        <number-input formControlName = "quantity" label = "Quantity" [min] = "0"/>
        <combobox
          formControlName = "unit"
          label = "Unit"
          [options] = "units"
        />
      </div>
     	<combobox
          multiple = "true"
      		label = "Categories"
      		[options] = "options()"
      		formControlName = "categories"
     	/>
      <div formArrayName = "components">
        <label class = "label">Components</label>
        @if (editing() || creating())
        {
          <div class = "buttons">
            <styled-button
              (click) = "addExistingComponent()"
              [disabled] = "!editing() && !creating()"
            >
              + Add existing component
            </styled-button>
            <styled-button
              (click) = "addNewComponent()"
              [disabled] = "!editing() && !creating()"
            >
              + Add new component
            </styled-button>
          </div>
        }
        
        <div class = "components">
          @for (component of components.controls; track $index; let i = $index)
          {
            <div class = "component" [formGroupName] = "i">
              @if (editing() || creating())
              {
                <styled-button
                  class = "remove-button"
                  role = "warn"
                  (click) = "removeComponent (i)"
                >
                  - Remove
                </styled-button>
              }
              @if (component.get ("id"))
              {
                <combobox
                  label = "Item"
                  [options] = "items()"
                  formControlName = "id"
                />
              }
              @else
              {
                <text-input formControlName = "name" label = "Name"/>
                <text-input multiline = "true" formControlName = "description" label = "Description"/>
              }
              <number-input formControlName = "quantity" label = "Quantity" [min] = "1"/>
            </div>
          }
        </div>
      </div>
    </suspense>
  </form>
</list-view-item-details>