@use "../../../theme" as theme;

.input-wrapper
{
	display: flex;
	flex-direction: column;
	
	label
	{
		font-size: 0.8em;
		font-weight: bold;
		color: theme.$colour-gray;
		margin-left: theme.$spacing-xsmall + 1px;

		&.required
		{
			&::after
			{
				content: " *";
				color: theme.$colour-error;
			}
		}
	}
	
	.input
	{
		font: inherit;
		padding: theme.$spacing-xsmall;
		border-radius: theme.$spacing-small;
		border: 1px solid theme.$colour-gray;
		background-color: theme.$colour-white;
		
		display: flex;
		gap: theme.$spacing-small;
		align-items: center;

		&:focus-within
		{
			outline: 2px solid theme.$colour-primary;
			border-color: transparent;
		}

		&.disabled
		{
			border-color: transparent;
		}
		
		input
		{
		  all: unset;
			font: inherit;
			width: 5ch;
			flex: 1;
			
			&::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }
		}
		
		button
		{
		  all: unset;
			font: inherit;
			width: 20px;
			height: 20px;
			border-radius: theme.$spacing-xsmall;
			text-align: center;
			
			&:hover
			{
			  background-color: theme.$colour-primary-light;
				color: theme.$colour-black;
			}
			
			&.disabled
			{
				color: theme.$colour-gray;
				
				&:hover
				{
					background-color: transparent;
				}
			}
		}
	}
}