@use "theme" as theme;

:host
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  
  background: linear-gradient(to bottom, #acedff 5%, #fff);
}

.app-name
{
  margin: unset;
  position: absolute;
  top: theme.$spacing-large;
  left: theme.$spacing-large;
}

.login-signup-form
{
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  padding: theme.$spacing-large;
  border-radius: theme.$spacing-medium + theme.$spacing-small;
  border: 1px solid theme.$colour-white;
  backdrop-filter: blur(10px);
  background-color: color(from theme.$colour-white srgb r g b / 0.5);
  
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-medium;
  
  h1
  {
    margin: unset;
  }
  
  .error
  {
    color: theme.$colour-error-dark;
    margin: unset;
  }
}