@use "theme" as theme;

label
{
	font-size: 0.8em;
	font-weight: bold;
	color: theme.$colour-gray;
	margin-left: theme.$spacing-xsmall + 1px;

	&.required
	{
		&::after
		{
			content: " *";
			color: theme.$colour-error;
		}
	}
}