// **Colours**
$colour-white: #fff;
$colour-gray: #bbb;
$colour-black: #04151f;
$colour-primary: #183a37;
$colour-primary-light: #6d8885;
$colour-secondary: #efd6ac;
$colour-secondary-light: #efe6d6;
$colour-secondary-dark: #8e7245;
$colour-error: #e84855;
$colour-error-dark: #8a111b;

// **Spacing**
$spacing-xsmall: 4px;
$spacing-small: 7px;
$spacing-medium: 10px;
$spacing-large: 15px;

// **Breakpoints**
$break-point-tablet: 640px;
$break-point-desktop: 1024px;