@use "theme" as theme;

.stock
{
  display: flex;
  gap: theme.$spacing-medium;
  align-items: center;
  
  .stock-count
  {
    font-size: small;
    color: color(from theme.$colour-gray srgb calc(r / 2) calc(g / 2) calc(b / 2));
  }

  .edit-stock
  {
    font-size: small;
    display: none;
    margin-left: auto;

  }
  .edit-stock-button
  {
    padding: theme.$spacing-xsmall !important;
  }

  &:hover .edit-stock
  {
    display: block;
  }
}