@use "theme" as theme;

.stock
{
	display: flex;
	gap: theme.$spacing-medium;
	align-items: center;
	
	.stock-count
	{
		font-size: small;
		color: theme.$colour-gray-dark-static;
	}

	.edit-stock
	{
		font-size: small;
		margin-left: auto;
		display: block;
		
		@media only screen and (min-width: theme.$break-point-tablet)
		{
			display: none;
		}
	}
	.edit-stock-button
	{
		padding: theme.$spacing-xsmall !important;
	}

	&:hover .edit-stock
	{
		display: block;
	}
}