@use "theme" as theme;

$animationTime: 0.3s;

:host
{
	grid-area: nav;
}

aside
{
	padding: theme.$spacing-large;
	height: calc(100% - 2 * theme.$spacing-large);
	display: flex;
	overflow: hidden;
	align-items: center;
	position: relative;
	border-bottom: 1px solid color(from theme.$colour-primary-light-static srgb r b g / 0.2);
	z-index: theme.$stacking-menu + 1;

	@media only screen and (min-width: theme.$break-point-tablet)
	{
		flex-direction: column;
		align-items: flex-start;
		border-right: 1px solid color(from theme.$colour-primary-light-static srgb r b g / 0.2);
		border-bottom: unset;
	}

	.app-meta
	{
		h1
		{
			margin: unset;
		}

		display: flex;
		align-items: baseline;
		gap: theme.$spacing-xsmall;

		user-select: none;
		
		@media only screen and (min-width: theme.$break-point-tablet)
		{
			margin-bottom: theme.$spacing-large;
		}
	}
	
	nav
	{
		flex: 1;
		width: 100%;
	}
}

.nav-list
{
	list-style: none;
	margin: unset;
	padding-inline: theme.$spacing-large;
	padding-bottom: theme.$spacing-medium;
	
	display: flex;
	flex-direction: column;
	gap: theme.$spacing-xsmall;

	position: fixed;
	width: calc(100dvw - 2 * theme.$spacing-large);
	left: 0;
	top: calc(2em + 2 * theme.$spacing-large);
	z-index: theme.$stacking-menu;
	background-color: color(from theme.$colour-card-background srgb r g b / 0.1);
	backdrop-filter: blur(10px);
	box-shadow: 0 5px 5px color(from theme.$colour-text srgb r g b / 0.2);
	border-radius: theme.$spacing-large;

	transition: transform $animationTime ease-in-out, opacity $animationTime ease-in-out;

	@media only screen and (min-width: theme.$break-point-tablet)
	{
		position: unset;
		padding: unset;
		width: 100%;
		background-color: unset;
		backdrop-filter: unset;
		box-shadow: unset;
		border-radius: unset;
	}
}

@keyframes expand
{
	from
	{
		opacity: 0;
		transform: translateY(-100%);
	}
	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes shrink
{
	from
	{
		opacity: 1;
		transform: translateY(0);
	}
	to
	{
		opacity: 0;
		transform: translateY(-100%);
	}
}

.expand
{
	animation: expand $animationTime ease-in-out;
	@media only screen and (min-width: theme.$break-point-tablet)
	{
		animation: none;
	}
}

.shrink
{
	animation: shrink $animationTime ease-in-out;
	@media only screen and (min-width: theme.$break-point-tablet)
	{
		animation: none;
	}
}