<aside>
	<h1>Storet</h1>
	<nav>
		@if (navbarOpen())
		{
			<ul class = "nav-list" animate.enter = "expand" animate.leave = "shrink">
				<nav-link to = "inventory" text = "Inventory" (onClick) = "onLinkClick()"/>
				<nav-link to = "locations" text = "Locations" (onClick) = "onLinkClick()"/>
				<nav-link to = "categories" text = "Categories" (onClick) = "onLinkClick()"/>
				<nav-link to = "items" text = "Items" (onClick) = "onLinkClick()"/>
			</ul>
		}
	</nav>
	<hamburger
		[open] = "navbarOpen()"
		(onClick) = "toggleNavbarOpenState()"
	/>
	<profile/>
</aside>