@use "theme" as theme;

:host
{
  width: fit-content;
}

.stock-tag
{
  font-size: small;
  padding: theme.$spacing-xsmall;
  border-radius: theme.$spacing-xsmall;
  background-color: theme.$colour-gray;
  color: theme.$colour-text;

  &.red
  {
    background-color: theme.$colour-error;
    color: theme.$colour-white-static;
  }

  &.green
  {
    background-color: theme.$colour-green-static;
    color: theme.$colour-white-static;
  }

  &.orange
  {
    background-color: theme.$colour-orange-static;
    color: theme.$colour-white-static;
  }

  &.yellow
  {
    background-color: theme.$colour-yellow-static;
    color: theme.$colour-black-static;
  }
}