<input-base
	[required] = "isRequired"
	[label] = "label()"
	[disabled] = "disabled"
	[resize] = "multiline()"
>
	@if (multiline())
	{
		<textarea
			input
			class = "input multiline"
			[class.disabled] = "disabled"
			[placeholder] = "placeholder()"
			(input) = "onInput ($event)"
			(blur) = "onBlur()"
			[disabled] = "disabled"
		>{{value}}</textarea>
	}
	@else
	{
		<input
			input
			class = "input"
			[class.disabled] = "disabled"
			type = "text"
			[placeholder] = "placeholder()"
			[value] = "value"
			(input) = "onInput ($event)"
			(blur) = "onBlur()"
			[disabled] = "disabled"
		/>
	}
</input-base>