@use "theme" as theme;

span
{
	height: 100%;
}

input, textarea
{
	all: unset;
	font: inherit;
	width: 100%;
	
	&::placeholder
	{
		color: theme.$colour-gray-dark-static;
	}
}

textarea
{
	resize: vertical;
}