@use "theme" as theme;

.warning
{
  margin: theme.$spacing-medium;
  padding: theme.$spacing-medium;
  background-color: color(from theme.$colour-error srgb r g b / 0.2);
  border-radius: theme.$spacing-small;
  border: 1px solid theme.$colour-error;
}