@use "../../../theme" as theme;

:host, .list-view-item-header
{
	gap: theme.$spacing-small;
}

:host
{
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.list-view-item-header
{
	display: grid;
	grid-template-areas: "expand label";
	grid-template-columns: 20px 1fr;

	padding: theme.$spacing-small;
	border-radius: theme.$spacing-small;

	&:hover
	{
		background-color: theme.$colour-primary;
		color: theme.$colour-white;
	}
}

.list-view-item-header > .list-view-item-title
{
	grid-area: label;
}