@use "theme" as theme;

.backdrop
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	z-index: theme.$stacking-dialog;

	background-color: color(from theme.$colour-black-static srgb r g b / 0.5);
	backdrop-filter: blur(10px);

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

.dialog
{
	background-color: theme.$colour-card-background;
	color: theme.$colour-text;
	padding: theme.$spacing-large;
	border-radius: theme.$spacing-large + theme.$spacing-small;

	@media screen and (prefers-color-scheme: dark)
	{
		border: 1px solid hsl(from theme.$colour-black-static h s calc(l + 5));
	}

	margin: 2 * theme.$spacing-large;

	display: flex;
	flex-direction: column;
	gap: theme.$spacing-medium;

	@media only screen and (min-width: theme.$break-point-tablet)
	{
		max-width: 400px;
		margin: unset;
	}

	.header
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.body
	{
		display: flex;
		flex-direction: column;
		gap: theme.$spacing-medium;
	}

	.footer
	{
		display: flex;
		gap: theme.$spacing-medium;
		flex-direction: column;

		> *
		{
			width: 100%;
		}

		@media only screen and (min-width: theme.$break-point-tablet)
		{
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
		}
	}
}

$animationTime: 0.3s;

.entering
{
	animation: fadeIn $animationTime ease-in-out;
}

@keyframes fadeIn
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

.leaving
{
	animation: fadeOut $animationTime ease-in-out;
}

@keyframes fadeOut
{
	from
	{
		opacity: 1;
	}
	to
	{
		opacity: 0;
	}
}