@use "../../../theme" as theme;

:host
{
	grid-area: nav;
}

aside
{
	padding: theme.$spacing-large;
	height: calc(100% - 2 * theme.$spacing-large);
	display: flex;
	flex-direction: column;
	overflow: hidden;

	h1
	{
		margin-top: unset;
		margin-bottom: theme.$spacing-large;
	}
	
	nav
	{
	  flex: 1;
	}
}

.nav-list
{
	list-style: none;
	margin: unset;
	padding: unset;
	
	display: flex;
	flex-direction: column;
	gap: theme.$spacing-xsmall;
}