@use "theme" as theme;

.combobox-button
{
  all: unset;
	font: inherit;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 100px;
	
	&:hover
  {
    color: theme.$colour-error;
  }
  
  &:disabled
  {
    color: theme.$colour-gray;
  }
}

.combobox-wrapper
{
	display: flex;
	flex-direction: column;
	position: relative;

	.combobox-select
	{
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: theme.$spacing-xsmall;
		border-radius: theme.$spacing-small;
		border: 1px solid theme.$colour-gray;
		
		cursor: pointer;

		&.open
		{
			outline: 2px solid theme.$colour-primary;
		}
		
		.combobox-value
		{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: theme.$spacing-small;
      
      .combobox-option-tag
      {
        border-radius: theme.$spacing-xsmall;
        padding: theme.$spacing-xsmall;
        background-color: theme.$colour-secondary-light;
      }
		}

		.combobox-trailing
		{
			display: flex;
			align-items: center;
			gap: theme.$spacing-small;
		}

		&.disabled
		{
			border-color: transparent;
		}
	}

	.combobox-dropdown
	{
		display: flex;
		flex-direction: column;
		gap: theme.$spacing-xsmall;
		position: absolute;
		z-index: theme.$stacking-menu;
		top: calc(100% + 1px);
		width: calc(100% - 2 * theme.$spacing-small);
		padding: theme.$spacing-small;
		border-radius: theme.$spacing-small;
		border: 1px solid theme.$colour-gray;
		box-shadow: 0 2px 7px theme.$colour-gray;
		background-color: theme.$colour-white;

		.combobox-search
		{
			font: inherit;
			font-size: 0.8em;
			border-radius: theme.$spacing-small - theme.$spacing-xsmall;
			border: 1px solid theme.$colour-gray;
			padding: theme.$spacing-xsmall;
		}

		.combobox-option
		{
			cursor: pointer;
			border-radius: theme.$spacing-small - theme.$spacing-xsmall;
			padding-inline: theme.$spacing-xsmall;
			
			&:hover
			{
				background-color: color(from theme.$colour-primary srgb r g b / 0.3);
			}

			&.combobox-option-selected
			{
				background-color: color(from theme.$colour-primary srgb r g b / 0.5);
			}
		}
	}
}