<div class = "combobox-wrapper">
	<input-base
		[required] = "isRequired"
		[label] = "label()"
		[disabled] = "disabled"
		(click) = "toggleDropdown()"
	>
		<div input class = "combobox-value">
			@if (showPlaceholder())
			{
				<span>{{placeholder()}}</span>
			}
			@else if (multiple())
			{
				@for (option of displayValues(); track option.value)
				{
					<div class = "combobox-option-tag">
						{{option?.display}}
						@if (!disabled)
						{
							<button
								class = "combobox-button"
								(click) = "removeItem ($event, option)"
								[disabled] = "disabled"
							>
								✕
							</button>
						}
					</div>
				}
			}
			@else
			{
				<span>{{displayValues()[0]?.display}}</span>
			}
		</div>
		@if (!disabled)
		{
			<div class = "combobox-trailing" trailing>
				@if (!required())
				{
					<button
						class = "combobox-button"
						(click) = "clearSelection ($event)"
						[disabled] = "disabled"
					>
					✕
					</button>
				}
				<chevron [rotation] = "chevronRotation()"/>
			</div>
		}
	</input-base>
	@if (isOpen())
	{
		<div class = "combobox-dropdown">
			<input
				class = "combobox-search"
				type = "text"
				[value] = "searchTerm()"
				(input) = "search ($event)"
				placeholder = "Search..."
			/>
			@for (option of filteredOptions(); track option.value)
			{
				<div
					class = "combobox-option"
					[class.combobox-option-selected] = "isSelected (option)"
					(click) = "selectOption (option)"
				>
					{{option.display}}
				</div>
			}
		</div>
	}
</div>