@use "theme" as theme;

input
{
	all: unset;
	font: inherit;
	width: 100%;

	&::placeholder
	{
		color: theme.$colour-gray-dark-static;
	}
}

button
{
	all: unset;
	font: inherit;
	width: 20px;
	height: 20px;
	border-radius: theme.$spacing-xsmall;
	text-align: center;
	
	&:hover
	{
		background-color: theme.$colour-primary-light-static;
	}
	
	&.disabled
	{
		color: theme.$colour-gray;
		
		&:hover
		{
			background-color: transparent;
		}
	}
}