<drawer open = "true" (onClose) = "navBack()">
	<h1 class = "category-details-header" header>Edit category</h1>
	<form id = "edit-category-form" body [formGroup] = "form" (ngSubmit) = "onSubmit()">
		<suspense [loading] = "categoriesDetailsStore.state() == 'loading'">
			<text-input formControlName = "label" label = "Label"/>
			<combobox
				label = "Parent"
				[options] = "options()"
				formControlName = "parentCategoryId"
			/>
		</suspense>
	</form>
	<div class = "category-details-footer" footer>
		@if (editing())
		{
			<styled-button
				(onClick) = "disableEditing()"
				role = "warn"
			>
				Cancel
			</styled-button>
			<styled-button
				type = "submit"
				form = "edit-category-form"
				[disabled] = "!form.dirty"
				role = "primary"
			>
				Done
			</styled-button>
		}
		@else
		{
			<styled-button
				(onClick) = "deleteCategory()"
				role = "warn"
			>
				Delete
			</styled-button>
			<styled-button
				role = "primary"
				(onClick) = "enableEditing()"
			>
				Edit
			</styled-button>
		}
	</div>
</drawer>