@if (open())
{
  <div class = "backdrop" (click) = "close ($event)" animate.enter = "entering" animate.leave = "leaving">
    <div class = "dialog" (click) = "$event.stopPropagation()">
      <h2 class = "title">Edit inventory bounds for {{itemName() ?? "component"}}</h2>
      <form class = "contents" [formGroup] = "boundsForm">
        <number-input
          formControlName = "min"
          label = "Min quantity"
        />
        <switch
          label = "Set a max quantity"
          formControlName = "hasMaxValue"
        />
        @if (boundsForm.controls.hasMaxValue.value)
        {
          <number-input
            formControlName = "max"
            label = "Max quantity"
          />
        }
      </form>
      <errors [errors] = "errors"/>
      <div class = "footer">
        <styled-button
          renderStyle = "outlined"
          role = "warn"
          (onClick) = "close ($event)"
        >
          Cancel
        </styled-button>
        <styled-button
          role = "primary"
          [disabled] = "submissionDisabled()"
          (onClick) = "save ($event)"
        >
          Edit bounds
        </styled-button>
      </div>
    </div>
  </div>
}