<styled-dialog
	[open] = "open()"
	[submissionDisabled] = "submissionDisabled()"
	(onSubmitRequest) = "save()"
	(onClose) = "close()"
>
	<h2 header class = "title">Edit inventory bounds for {{itemName() ?? "component"}}</h2>
	<div body>
		<form class = "contents" [formGroup] = "boundsForm">
		<number-input
			formControlName = "min"
			label = "Min quantity"
		/>
		<switch
			label = "Set a max quantity"
			formControlName = "hasMaxValue"
		/>
		@if (boundsForm.controls.hasMaxValue.value)
		{
			<number-input
				formControlName = "max"
				label = "Max quantity"
			/>
		}
		</form>
		<errors [errors] = "errors"/>
	</div>
	<span primary-action-button-label>Edit bounds</span>
</styled-dialog>