@use "theme" as theme;

.backdrop
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: color(from theme.$colour-black srgb r g b / 0.5);
  backdrop-filter: blur(10px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog
{
  background-color: theme.$colour-white;
  color: theme.$colour-black;
  padding: theme.$spacing-large;
  border-radius: theme.$spacing-large + theme.$spacing-small;

  display: flex;
  flex-direction: column;
  gap: theme.$spacing-medium;

  .title
  {
    margin-top: unset;
  }

  .contents
  {
    display: flex;
    flex-direction: column;
    gap: theme.$spacing-medium;
  }

  .footer
  {
    display: flex;
    gap: theme.$spacing-medium;
    justify-content: flex-end;
    align-items: center;
  }
}

$animationTime: 0.3s;

.entering
{
  animation: fadeIn $animationTime ease-in-out;
}

@keyframes fadeIn
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}

.leaving
{
  animation: fadeOut $animationTime ease-in-out;
}

@keyframes fadeOut
{
  from
  {
    opacity: 1;
  }
  to
  {
    opacity: 0;
  }
}