@use "theme" as theme;

:host
{
	grid-area: contents;
	margin: theme.$spacing-large;
	margin-top: unset;

	@media only screen and (min-width: theme.$break-point-tablet)
	{
		margin: theme.$spacing-large;
		margin-left: unset;
	}
}