@use "theme" as theme;

input
{
	all: unset;
	font: inherit;
	width: 5ch;

	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
	{
		-webkit-appearance: none;
		margin: 0;
	}
}

button
{
	all: unset;
	font: inherit;
	width: 20px;
	height: 20px;
	border-radius: theme.$spacing-xsmall;
	text-align: center;
	
	&:hover
	{
		background-color: light-dark(theme.$colour-primary-light-static, theme.$colour-primary-static);
		color: theme.$colour-text;
	}
	
	&.disabled
	{
		color: theme.$colour-gray;
		
		&:hover
		{
			background-color: transparent;
		}
	}
}