@use "theme" as theme;

.button
{
	all: unset;
	font: inherit;

	border-radius: theme.$spacing-small;
	padding: theme.$spacing-small;
	text-align: center;

	display: flex;
	gap: theme.$spacing-small;
	align-items: center;
	justify-content: center;

	$outline-width: 1px;

	&.padding-inline-xsmall
	{
		$padding: theme.$spacing-xsmall;
		padding-inline: $padding;
		&.warn, &.outlined
		{
			padding-inline: $padding - $outline-width;
		}
		&.fill
		{
			width: calc(100% - 2 * $padding);
			
			&.outlined
			{
				width: calc(100% - 2 * $padding - 2 * $outline-width);
			}
		}
	}

	&.padding-inline-small
	{
		$padding: theme.$spacing-small;
		padding-inline: $padding;
		&.warn, &.outlined
		{
			padding-inline: $padding - $outline-width;
		}
		&.fill
		{
			width: calc(100% - 2 * $padding);
			
			&.outlined
			{
				width: calc(100% - 2 * $padding - 2 * $outline-width);
			}
		}
	}

	&.padding-inline-medium
	{
		$padding: theme.$spacing-medium;
		padding-inline: $padding;
		&.warn, &.outlined
		{
			padding-inline: $padding - $outline-width;
		}
		&.fill
		{
			width: calc(100% - 2 * $padding);
			
			&.outlined
			{
				width: calc(100% - 2 * $padding - 2 * $outline-width);
			}
		}
	}

	&.padding-inline-large
	{
		$padding: theme.$spacing-large;
		padding-inline: $padding;
		&.warn, &.outlined
		{
			padding-inline: $padding - $outline-width;
		}
		&.fill
		{
			width: calc(100% - 2 * $padding);
			
			&.outlined
			{
				width: calc(100% - 2 * $padding - 2 * $outline-width);
			}
		}
	}

	&.padding-block-xsmall
	{
		padding-block: theme.$spacing-xsmall;
		&.warn, &.outlined
		{
			padding-block: theme.$spacing-xsmall - $outline-width;
		}
	}

	&.padding-block-small
	{
		padding-block: theme.$spacing-small;
		&.warn, &.outlined
		{
			padding-block: theme.$spacing-small - $outline-width;
		}
	}

	&.padding-block-medium
	{
		padding-block: theme.$spacing-medium;
		&.warn, &.outlined
		{
			padding-block: theme.$spacing-medium - $outline-width;
		}
	}

	&.padding-block-large
	{
		padding-block: theme.$spacing-large;
		&.warn, &.outlined
		{
			padding-block: theme.$spacing-large - $outline-width;
		}
	}

	&.border-xsmall
	{
		border-radius: theme.$spacing-xsmall;
	}

	&.border-small
	{
		border-radius: theme.$spacing-small;
	}

	&.border-medium
	{
		border-radius: theme.$spacing-medium;
	}

	&.border-large
	{
		border-radius: theme.$spacing-large;
	}

	&.normal
	{
		color: theme.$colour-card-background;
		$background-color: theme.$colour-text;
		
		background-color: $background-color;
		
		&.outlined
		{
			border-width: $outline-width;
			border-style: solid;
			border-color: $background-color;
			color: $background-color;
			background-color: transparent;
		}

		&:hover
		{
			background-color: theme.$colour-secondary-dark-static;
			
			&.outlined
			{
				border-color: theme.$colour-secondary-dark-static;
			}
		}
	}

	&.primary
	{
		color: theme.$colour-white-static;
		$background-color: theme.$colour-primary;
		background-color: $background-color;
		
		&.outlined
		{
			border-width: $outline-width;
			border-style: solid;
			border-color: $background-color;
			color: light-dark($background-color, theme.$colour-white-static);
			background-color: transparent;
		}
		
		&:hover
		{
			background-color: light-dark(theme.$colour-primary-light-static, color(from theme.$colour-primary-static srgb r g b / 0.4));
			color: theme.$colour-white-static;
			
			&.outlined
			{
				border-color: theme.$colour-black-static;
				color: theme.$colour-white-static;
			}
		}
	}
	
	&.warn
	{
		color: theme.$colour-text;
		border: $outline-width solid theme.$colour-error;
		
		&:hover
		{
			background-color: theme.$colour-error-dark-static;
			color: theme.$colour-white-static;
			border-color: transparent;
		}
	}

	&.danger
	{
		background-color: theme.$colour-error;
		color: theme.$colour-white-static;
		
		&:hover
		{
			background-color: light-dark(theme.$colour-error-dark-static, theme.$colour-error-static);
			color: theme.$colour-white-static;
		}
	}

	&.disabled
	{
		$color: light-dark(theme.$colour-gray-dark-static, theme.$colour-gray-static);
		$bg: theme.$colour-gray;
		color: $color;
		background-color: $bg;
		
		&:hover
		{
			color: $color;
			background-color: $bg;
		}
	}
}