<button
	class = "button"
	[ngClass] = "paddingAndBorderClasses()"
	[class.fill] = "fill()"
	[class.filled] = "renderStyle() === 'filled'"
	[class.outlined] = "renderStyle() === 'outlined'"
	[class.primary] = "role() === 'primary'"
	[class.normal] = "role() === 'normal'"
	[class.warn] = "role() === 'warn'"
	[class.danger] = "role() === 'danger'"
	[class.disabled] = "disabled()"
	[attr.form] = "form()"
	[disabled] = "disabled()"
	[type] = "type()"
	(click) = "handleClick ($event)"
>
	<ng-content/>
</button>