@use "theme" as theme;

:host
{
  position: relative;
}

.logout
{
  all: unset;
  
  width: 30px;
  height: 30px;
  text-align: center;
  
  border-radius: 100%;
  background-color: theme.$colour-secondary;
  
  cursor: pointer;
  
  &:hover
  {
    outline: 2px solid theme.$colour-primary;
    outline-offset: 2px;
  }
}

.menu
{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-small;
  
  bottom: calc(100% + 4px);
  left: 0;
  z-index: 999;
  
  padding: theme.$spacing-medium;
  border-radius: theme.$spacing-medium + theme.$spacing-small;
  
  border: 1px solid theme.$colour-gray;
  background-color: theme.$colour-white;
}