@use "theme" as theme;

$icon-size: 30px;

:host
{
  position: relative;
}

.logout
{
  all: unset;
  
  width: $icon-size;
  height: $icon-size;
  text-align: center;
  
  border-radius: 100%;
  background-color: theme.$colour-secondary;
  
  cursor: pointer;
  
  &:hover
  {
    outline: 2px solid theme.$colour-primary;
    outline-offset: 2px;
  }
}

.menu
{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: theme.$spacing-small;
  
  right: theme.$spacing-large;
  width: calc(100dvw - 2 * theme.$spacing-medium - 2 * theme.$spacing-large);
  z-index: theme.$stacking-menu;
  
  padding: theme.$spacing-medium;
  border-radius: theme.$spacing-medium + theme.$spacing-small;
  
  border: 1px solid theme.$colour-gray;
  background-color: theme.$colour-white;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  @media only screen and (min-width: theme.$break-point-tablet)
  {
 	right: unset;
   	left: theme.$spacing-large;
   	bottom: calc(theme.$spacing-large + $icon-size);
    width: fit-content;
  }
}

@keyframes slideDownEntering
{
	from
	{
		opacity: 0;
		transform: translateY(-100%);
	}
	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUpLeaving
{
	from
	{
		opacity: 1;
		transform: translateY(0);
	}
	to
	{
		opacity: 0;
		transform: translateY(-100%);
	}
}

@keyframes slideDownLeaving
{
	from
	{
		opacity: 1;
		transform: translateY(0);
	}
	to
	{
		opacity: 0;
		transform: translateY(100%);
	}
}

@keyframes slideUpEntering
{
	from
	{
		opacity: 0;
		transform: translateY(100%);
	}
	to
	{
		opacity: 1;
		transform: translateY(0);
	}
}

.enter
{
	animation: slideDownEntering 0.3s ease-in-out;
	@media only screen and (min-width: theme.$break-point-tablet)
	{
		animation-name: slideUpEntering;
	}
}

.leave
{
	animation: slideUpLeaving 0.3s ease-in-out;
	@media only screen and (min-width: theme.$break-point-tablet)
	{
		animation-name: slideDownLeaving;
	}
}