<list-view-item-details
  [editing] = "editing()"
  [creating] = "creating()"
  [submitButtonDisabled] = "!form.valid || !form.dirty"
  (onEditingEnabled) = "onEditingEnabled()"
  (onDeleteItem) = "onItemDelete()"
  (onCancel) = "onCancel()"
  (onClose) = "navBack()"
>
  <span list-item-details-header-title-suffix>category</span>
  <form body id = "edit-item-form" [formGroup] = "form" (ngSubmit) = "onFormSubmit()">
    <suspense [loading] = "categoriesDetailsStore.state() == 'loading'">
     	<text-input formControlName = "label" label = "Label"/>
     	<combobox
      		label = "Parent"
      		[options] = "options()"
      		formControlName = "parentCategoryId"
     	/>
    </suspense>
  </form>
</list-view-item-details>