<drawer [open] = "drawerOpen()" (onClose) = "handleClose()">
	<h1 class = "list-item-details-header" header>
		@if (creating())
		{
			New
		}
		@else
		{
			Edit
		}
		@if (!creating())
		{
			<span
				[tooltip] = "instance()"
			>
				{{instanceLabel()}}
			</span>
		}
		@else
		{
			{{entity()}}
		}
	</h1>
	<div body>
  	<ng-content select = "[body]"/>
	</div>
	<div class = "list-item-details-footer" footer>
		@if (editing())
		{
			<styled-button
				(onClick) = "handleCancel()"
				role = "warn"
				[fill] = "true"
				[paddingBlock] = "buttonsPaddingBlock()"
			>
				Cancel
			</styled-button>
			<styled-button
				type = "submit"
				form = "edit-item-form"
				[disabled] = "submitButtonDisabled()"
				role = "primary"
				[fill] = "true"
				[paddingBlock] = "buttonsPaddingBlock()"
			>
				Done
			</styled-button>
		}
		@else
		{
			<styled-button
				(onClick) = "handleDeleteItem()"
				role = "warn"
				[fill] = "true"
				[paddingBlock] = "buttonsPaddingBlock()"
			>
				Delete
			</styled-button>
			<styled-button
				role = "primary"
				[fill] = "true"
				[paddingBlock] = "buttonsPaddingBlock()"
				(onClick) = "handleEditingEnabled()"
			>
				Edit
			</styled-button>
		}
	</div>
</drawer>
<confirm-delete
	[open] = "deleteDialogOpen()"
	[entity] = "entity()"
	(onDelete) = "deleteItem()"
	(onCancel) = "handleCancelDelete()"
/>