@use "theme" as theme;

:host
{
	grid-area: expand;
	cursor: pointer;
}

.list-view-item-toggle-expand-button
{
	all: unset;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	
	&:hover
	{
		background-color: theme.$colour-primary;
	}
	
	> svg
	{
		width: 15px;
		height: 15px;
	}
}