@use "../../../theme" as theme;

.input-wrapper
{
	display: flex;
	flex-direction: column;
	
	label
	{
		font-size: 0.8em;
		font-weight: bold;
		color: theme.$colour-gray;
		margin-left: theme.$spacing-xsmall + 1px;

		&.required
		{
			&::after
			{
				content: " *";
				color: theme.$colour-error;
			}
		}
	}
	
	.input
	{
		font: inherit;
		padding: theme.$spacing-xsmall;
		border-radius: theme.$spacing-small;
		border: 1px solid theme.$colour-gray;

		&:focus
		{
			outline: 2px solid theme.$colour-primary;
			border-color: transparent;
		}

		&.disabled
		{
			border-color: transparent;
		}
		
		&.multiline
		{
			resize: vertical;
		}
	}
}