<div class = "input-wrapper">
	@if (label)
	{
		<label [class.required] = "isRequired">{{label}}</label>
	}
	@if (multiline)
	{
    <textarea
      class = "input multiline"
  		[class.disabled] = "disabled"
  		[placeholder] = "placeholder"
  		(input) = "onInput ($event)"
  		(blur) = "onBlur()"
  		[disabled] = "disabled"
  	>{{value}}</textarea>
	}
	@else
	{
  	<input
      class = "input"
  		[class.disabled] = "disabled"
  		type = "text"
  		[placeholder] = "placeholder"
  		[value] = "value"
  		(input) = "onInput ($event)"
  		(blur) = "onBlur()"
  		[disabled] = "disabled"
  	/>
	}
</div>