<list-view-item-details
  entity = "location"
  [instanceIdentifier] = "navigation.id()"
  [instanceLabel] = "label"
  [editing] = "editing()"
  [creating] = "creating()"
  [submitButtonDisabled] = "!form.valid || !form.dirty"
  (onEditingEnabled) = "onEditingEnabled()"
  (onDeleteItem) = "onItemDelete()"
  (onCancel) = "onCancel()"
  (onClose) = "navBack()"
>
  <form body id = "edit-item-form" [formGroup] = "form" (ngSubmit) = "onFormSubmit()">
    <suspense [loading] = "locationDetailsStore.state() == 'loading'">
     	<text-input formControlName = "name" label = "Name"/>
     	<text-input
        formControlName = "description"
        label = "Description"
        [multiline] = "true"
      />
    </suspense>
  </form>
</list-view-item-details>