@use "theme" as theme;
@use "sass:math";

.backdrop
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: theme.$stacking-drawer;
	width: 100dvw;
	height: 100dvh;
	
	background-color: color(from theme.$colour-black-static srgb r g b / 0.5);
	backdrop-filter: blur(10px);

	display: flex;
	flex-direction: row-reverse;

	transition: opacity 0.3s ease-in-out;
}

@keyframes fadeIn
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

@keyframes fadeOut
{
	from
	{
	opacity: 1;
	}
	to
	{
		opacity: 0;
	}
}

@keyframes slideInLeft
{
	from
	{
		transform: translateX(100%);
	}
	to
	{
		transform: translateX(0);
	}
}

@keyframes slideOutLeft
{
	from
	{
		transform: translateX(0);
	}
	to
	{
		transform: translateX(100%);
	}
}

@keyframes slideInBottom
{
	from
	{
		transform: translateY(100%);
	}
	to
	{
		transform: translateY(0);
	}
}

@keyframes slideOutBottom
{
	from
	{
		transform: translateY(0);
	}
	to
	{
		transform: translateY(100%);
	}
}

$animationTime: 0.2s;

.fade-in
{
	animation: fadeIn $animationTime ease-in-out;
	
	.drawer
	{
		animation: slideInBottom $animationTime ease-in-out;
		@media only screen and (min-width: theme.$break-point-tablet)
		{
			animation-name: slideInLeft;
		}
	}
}

.fade-out
{
	animation: fadeOut $animationTime ease-in-out;
	
	.drawer
	{
		animation: slideOutBottom $animationTime ease-in-out forwards;

		@media only screen and (min-width: theme.$break-point-tablet)
		{
			animation-name: slideOutLeft;
		}
	}
}

.drawer
{
	width: 100dvw;
	margin-top: theme.$spacing-large;

	background-color: theme.$colour-card-background;
	border-radius: 10px + theme.$spacing-xsmall + theme.$spacing-medium;
	border-bottom-left-radius: unset;
	border-bottom-right-radius: unset;

	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: theme.$spacing-large;

	transition: transform 1s ease-in-out;

	@media only screen and (min-width: theme.$break-point-tablet)
	{
		width: 50dvw;
		max-width: 400px;
		min-width: 200px;
		margin-top: unset;
		border-radius: theme.$spacing-medium;
	}

	$padding: theme.$spacing-large;
	
	.header, .body, .footer
	{
		display: flex;
		gap: theme.$spacing-small;
		padding-inline: $padding;
	}
	
	.header, .footer
	{
		justify-content: space-between;
	}

	.header
	{
		align-items: flex-start;
		padding-top: $padding;
	}
	
	.body
	{
		flex-direction: column;
		overflow-y: auto;
	}

	.footer
	{
		flex-direction: column;
		align-items: center;
		padding-bottom: $padding;

		@media only screen and (min-width: theme.$break-point-tablet)
		{
			flex-direction: row;
		}
	}
	
	button.close-button
	{
		all: unset;
		width: 20px;
		height: 20px;
		padding: theme.$spacing-xsmall;
		border-radius: 10px + theme.$spacing-xsmall;
		background-color: color(from theme.$colour-gray srgb r g b / 0.4);

		display: flex;
		justify-content: center;
		align-items: center;

		$width: 1px;
	
		&::before, &::after
		{
			content: "";
			display: block;
			width: $width;
			height: 12px;
			background-color: theme.$colour-text;
		}

		&::before
		{
			transform: rotate(45deg) translateY(math.div(-$width, 2));
		}

		&::after
		{
			transform: rotate(-45deg) translateY(math.div(-$width, 2));
		}

		&:hover
		{
			&::before, &::after
			{
				background-color: theme.$colour-error;
			}
		}
	}
}